<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mailSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>mail.application.SystemListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>HandleRegister</display-name>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>mail.controler.HandleRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/HandleRegister</url-pattern>
    <url-pattern>/workFolder/HandleRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleLogin</display-name>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>mail.controler.HandleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/HandleLogin</url-pattern>
    <url-pattern>/workFolder/HandleLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleNewsChoose</display-name>
    <servlet-name>HandleNewsChoose</servlet-name>
    <servlet-class>mail.controler.HandleNewsChoose</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleNewsChoose</servlet-name>
    <url-pattern>/workFolder/HandleNewsChoose</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewsToMail</display-name>
    <servlet-name>AddNewsToMail</servlet-name>
    <servlet-class>mail.controler.AddNewsToMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsToMail</servlet-name>
    <url-pattern>/AddNewsToMail</url-pattern>
    <url-pattern>/workFolder/AddNewsToMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPassword</display-name>
    <servlet-name>SetPassword</servlet-name>
    <servlet-class>mail.controler.SetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPassword</servlet-name>
    <url-pattern>/SetPassword</url-pattern>
    <url-pattern>/workFolder/SetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeadtoUsercenter</display-name>
    <servlet-name>LeadtoUsercenter</servlet-name>
    <servlet-class>mail.controler.LeadtoUsercenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeadtoUsercenter</servlet-name>
    <url-pattern>/LeadtoUsercenter</url-pattern>
    <url-pattern>/workFolder/LeadtoUsercenter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContacts</display-name>
    <servlet-name>AddContacts</servlet-name>
    <servlet-class>mail.controler.AddContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContacts</servlet-name>
    <url-pattern>/AddContacts</url-pattern>
    <url-pattern>/workFolder/AddContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleModify</display-name>
    <servlet-name>HandleModify</servlet-name>
    <servlet-class>mail.controler.HandleModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleModify</servlet-name>
    <url-pattern>/HandleModify</url-pattern>
    <url-pattern>/workFolder/HandleModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveNewsFromMail</display-name>
    <servlet-name>RemoveNewsFromMail</servlet-name>
    <servlet-class>mail.controler.RemoveNewsFromMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveNewsFromMail</servlet-name>
    <url-pattern>/RemoveNewsFromMail</url-pattern>
    <url-pattern>/workFolder/RemoveNewsFromMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMailContacts</display-name>
    <servlet-name>AddMailContacts</servlet-name>
    <servlet-class>mail.controler.AddMailContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMailContacts</servlet-name>
    <url-pattern>/AddMailContacts</url-pattern>
    <url-pattern>/workFolder/AddMailContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveContacts</display-name>
    <servlet-name>RemoveContacts</servlet-name>
    <servlet-class>mail.controler.RemoveContacts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveContacts</servlet-name>
    <url-pattern>/RemoveContacts</url-pattern>
    <url-pattern>/workFolder/RemoveContacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLove</display-name>
    <servlet-name>AddLove</servlet-name>
    <servlet-class>mail.controler.AddLove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLove</servlet-name>
    <url-pattern>/AddLove</url-pattern>
    <url-pattern>/workFolder/AddLove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectLove</display-name>
    <servlet-name>DelectLove</servlet-name>
    <servlet-class>mail.controler.DelectLove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectLove</servlet-name>
    <url-pattern>/DelectLove</url-pattern>
    <url-pattern>/workFolder/DelectLove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleSendHtml</display-name>
    <servlet-name>HandleSendHtml</servlet-name>
    <servlet-class>mail.controler.HandleSendHtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleSendHtml</servlet-name>
    <url-pattern>/HandleSendHtml</url-pattern>
    <url-pattern>/workFolder/HandleSendHtml</url-pattern>
  </servlet-mapping>
</web-app>